script(src='/vendor/jquery/dist/jquery.min.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='/vendor/js-cookie/js.cookie.js')
script(src='/vendor/jquery.scrollbar/jquery.scrollbar.min.js')
script(src='/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js')