script(src='/vendor/datatables.net/js/jquery.dataTables.min.js')
script(src='/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
script(src='/vendor/datatables.net-buttons/js/dataTables.buttons.min.js')
script(src='/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js')
script(src='/vendor/datatables.net-buttons/js/buttons.html5.min.js')
script(src='/vendor/datatables.net-buttons/js/buttons.flash.min.js')
script(src='/vendor/datatables.net-buttons/js/buttons.print.min.js')
script(src='/vendor/datatables.net-select/js/dataTables.select.min.js')
script(src='/js/datatable.js')