// Footer
footer.footer.pt-0
    .row.align-items-center.justify-content-lg-between.m-0
        .col-lg-6
            .copyright.text-center.text-lg-left.text-muted
                | &copy; 2019
                a.font-weight-bold.ml-1(href='#' target='_blank') Fangchen Li
