
nav.navbar.navbar-top.navbar-expand.navbar-dark.bg-primary.border-bottom(style='background-color: transparent!important')
    .container-fluid
        #navbarSupportedContent.collapse.navbar-collapse

            // Navbar links
            ul.navbar-nav.align-items-center.ml-md-auto
                li.nav-item.d-xl-none
                    // Sidenav toggler
                    .pr-3.sidenav-toggler.sidenav-toggler-dark(data-action='sidenav-pin' data-target='#sidenav-main')
                        .sidenav-toggler-inner
                            i.sidenav-toggler-line
                            i.sidenav-toggler-line
                            i.sidenav-toggler-line
                li.nav-item.d-sm-none
                    a.nav-link(href='#' data-action='search-show' data-target='#navbar-search-main')
                        i.ni.ni-zoom-split-in
            //    include //sharedModule/pageElement/userNotifications
            ul.navbar-nav.align-items-center.ml-auto.ml-md-0.md-hide
                li.nav-item.dropdown
                    a.nav-link.nav-avatar.pr-0(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        .media.align-items-center
                            span.avatar.avatar-sm.rounded-circle.avatar-area

