meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
meta(name='description' content='An Employee Management App')
meta(name='author' content='Fangchen Li')

meta(property='og:type' content='website')
meta(property='og:description' content='An Employee Management App')
meta(property='og:image' content='/img/brand/favicon.png')

title An Employee Management App

// Favicon
link(rel='icon' href='/img/brand/favicon.png' type='image/png')
// Fonts
link(rel='stylesheet' href='/css/openSans.css')
link(rel='stylesheet' href='/vendor/nucleo/css/nucleo.css' type='text/css')
link(rel='stylesheet' href='/vendor/@fortawesome/fontawesome-free/css/all.min.css' type='text/css')
//link(rel='stylesheet' href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700')
// Icons

style.

