style.
    nav.navbar.navbar-top {z-index:1034}

    #newContentForm .card-header h3 {

        padding-left: 30px;
        display: inline-block;
    }

    .btn-secondary-dark {
        background-color: #F4F5F7;
    }

    .no-shadow {
        box-shadow: none;
    }

    .padding-8 {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .padding-4 {
        padding-left: 4px;
        padding-right: 4px;
    }
    .avatar {background-color: #FFFFFF}
    .avatar-area{background-image:url('/img/avatar/profile-22.png')!important;background-size:cover;background-color:#FFFFFF}
    .navbar-subtitle .navbar-brand sup {
        display: inline-block;
    }

    .navbar-brand sup {
        top: 0px;
        font-size: 16px;
        padding-left: 15px;
        text-transform: none;

    }
    .admin-page-bg { position:absolute; bottom:0px;left:0; width: 100%; height:500px;background-size:cover;background-position:center}
    .table.table-grid td, .table.table-grid th {
        white-space: initial;
    }
    .row-table {
        display: block;
        margin-right: 0px;
        margin-left: 0px;
        flex-wrap: nowrap;
        flex: none;
        width: 100%
    }
    .col-tb-1 {
        width: 8.33333%;
        overflow: hidden;
    }
    .col-tb-2 {
        width: 16.66667%;
        overflow: hidden;
    }
    .col-tb-3 {
        width: 25%;
        max-width: 25%;
        overflow: hidden;
    }
    .col-tb-4 {
        width: 33.33333%;
        max-width: 25%;
        overflow: hidden;
    }
    .col-tb-5 {
        width: 41.66667%;
    }
    .col-tb-6 {
        width: 50%;
    }
    .col-tb-7 {
        width: 58.33333%;
    }
    .col-tb-8 {
        width: 66.66667%;
    }
    .col-tb-9 {
        width: 75%;
    }
    .col-tb-10 {
        width: 83.33333%;
    }
    .col-tb-11 {
        width: 91.66667%;
    }
    .col-tb-12 {
        width: 100%;
    }